<header>
    <div class="logo">
      <a href="https://educamosclm.castillalamancha.es"><img src="educamosclm.png" alt="Logo EducamosCLM"></a>
    </div>
    <div class="info">
      <img src="../img/LogoEducamos_206x30.jpg" alt="nombreprofesor">
      <div class="details">
        <label for="Centro"><span>Centro</span></label>
        <label for="Clase"><span>Clase Correspondiente</span></label>
        <label for="nombreprofesor"><span>Nombre Profesor</span></label>
      </div>
    </div>
  </header>