<div class="tabla">
  <div class="buscador">
    <div>buscador</div>
  </div>

  <div class="profe" onclick="toggle(this)">profe</div>
  <div class="hijas">
    <div class="hija">
      <div class="fecha">13-1-2025</div>
      <div class="contenido">hora/horas:|dia/dias:|documento</div>
    </div>
    <div class="hijas">
      <div class="hija">
        <div class="fecha">13-1-2025</div>
        <div class="contenido">hora/horas:|dia/dias:|documento</div>
      </div>

      <div class="profe">Nombre profesor, apellidos, curso acargo</div>
      <div class="hijas">
        <div class="hija">
          <div class="fecha">13-1-2025</div>
          <div class="contenido">hora/horas:|dia/dias:|documento</div>
        </div>
        <div class="hijas">
          <div class="hija">
            <div class="fecha">13-1-2025</div>
            <div class="contenido">hora/horas:|dia/dias:|documento</div>
          </div>
          <div class="hijas">
            <div class="hija">
              <div class="fecha">13-1-2025</div>
              <div class="contenido">hora/horas:|dia/dias:|documento</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
