<table class="guardias-tabla">
  <thead>
    <tr>
      <th style="width: 20%">Guardia</th>
      <th style="width: 80%">Ausencias</th>
    </tr>
  </thead>
  <tbody>
    @for (guardia of guardias; track guardia; let idx = $index) {
    <tr>
      <td>
        {{ guardia.nombres }} <br />
        {{ guardia.dia }} <br />
        {{ guardia.hora }}
      </td>
      <td>
        @for (falta of faltas; track falta; let idb = $index) { @if (falta.dian
        == guardia.dia && falta.hora == guardia.hora) {
        <span class="ausencia-caja">
          {{ falta.nombreProfesor }}<br />
          {{ falta.curso }}<br />
          {{ falta.clase }}
        </span>
        } }
      </td>
    </tr>
    }
  </tbody>
</table>
