<div class="content">
  <aside class="sidebar">
    <ul>
      <li (click)="changeView('Horario')">Horario</li>
      <li (click)="changeView('Guardias')">Guardias semanales</li>
      <li (click)="changeView('Ausencias')">Ausencias</li>
      <li (click)="changeView('Documentos')">Documentos</li>
    </ul>
  </aside>
  <main class="main-content">
    @switch (currentView) { @case('Horario') {
    <app-horario></app-horario>
    } @case('Guardias') {
    <app-guardias></app-guardias>
    } @case ('Ausencias') {
    <app-ausencias></app-ausencias>
    } @case('Documentos') { @if (roll == 'admin') {
    <app-docadmin></app-docadmin>
    }@else{
    <h2>Documentos</h2>
    <app-docusers></app-docusers>
    } } @default {
    <app-horario></app-horario>
    } }
  </main>
</div>
