
@switch (modoEdicion) {
    @case(true) {
      <table>
        <thead>
          <tr>
            <th>Hora</th>
            @for (dia of getDias(); track dia) {
              <th>{{ dia }}</th>
            }
          </tr>
        </thead>
        <tbody>
          @for (hora of ['8:30-9:25', '9:25-10:20', '10:40-11:35', '11:35-12:30', '12:40-13:35', '13:35-14:30']; track hora) {
            <tr>
              <td>{{ hora }}</td>
              @if (hora === '10:20-10:40' || hora === '12:30-12:40') {
                <td colspan="5" class="recreo">Recreo</td>
              } @else {
                @for (dia of getDias(); track dia) {
                  <td>
                    @let datos = getDatos(dia, hora)[0] || {};
                    
                    <input
                      type="text"
                      [value]="datos.asignatura || ''"
                      (input)="onEditarCelda(dia, hora, 'asignatura', $any($event.target).value)"
                      placeholder="Asignatura"
                    />
                    <br />
                    <input
                      type="text"
                      [value]="datos.curso || ''"
                      (input)="onEditarCelda(dia, hora, 'curso', $any($event.target).value)"
                      placeholder="Curso"
                    />
                    <br />
                    <input
                      type="text"
                      [value]="datos.clase || ''"
                      (input)="onEditarCelda(dia, hora, 'clase', $any($event.target).value)"
                      placeholder="Clase"
                    />
                  </td>
                }
              }
            </tr>
          }
        </tbody>
      </table>
      <button (click)="guardarCambios()">Guardar cambios</button>
    }
    @default {
        @if (userHorario) {
            <table>
              <thead>
                <tr>
                  <th>Hora</th>
                  @for (dia of ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes']; track dia) {
                    <th>{{ dia }}</th>
                  }
                </tr>
              </thead>
              <tbody>
                @for (hora of ['8:30-9:25', '9:25-10:20', '10:40-11:35', '11:35-12:30', '12:40-13:35', '13:35-14:30']; track hora) {
                  <tr>
                    <td>{{ hora }}</td>
          
                    @if (hora === '10:20-10:40' || hora === '12:30-12:40') {
                      <td colspan="5" class="recreo">Recreo</td>
                    } @else {
                      @for (dia of ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes']; track dia) {
                        <td>
                          @let datos = getDatos(dia, hora);
                          @if (datos) {
                               @if (datos.length > 0) {
                                   @for (dato of datos; track $index) {
                                      <div>{{ dato?.asignatura || '' }}</div>
                              <small>{{ dato?.curso || '' }} {{ dato?.clase || '' }}</small>
                          }
                               } @else {
                                   <small>Libre</small>
            }
          }
                        </td>
                      }
                    }
                  </tr>
                }
              </tbody>
            </table>
            <button (click)="Editar()">editar horario</button>

          } @else {
            <p>No hay horario disponible.</p>
          }
          
    }
  }
